body{
   background: url("History.png") no-repeat;
    background-size: cover;
    box-sizing: border-box;

    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

  .content-table {

  margin: 55px auto;
  width: 70%;
  border-collapse: collapse;



  font-size: 0.89 em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
tr:hover{
    background-color:#301934			;
    color: white;
}
.content-table thead tr {
  background-color: #111111			;
  font-size: 1.25em;
  color: #FAF9F6	;
  text-align: left;
  font-weight: bolder;

}

.content-table th,
.content-table td {
  padding: 12px 15px;
   color: #FFEFE0;

}

.content-table tbody tr {
  border-bottom: 2px solid #dddddd;
  font-weight: shadow;
  color: black	;
  font-weight: 600;
}



.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
.dataTables_length {

    color: white}


#market_filter
{
    color: white}
