{% extends "base.html"%}
{% block content%}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="stylesheet" href="static/css/main.css">-->
    <link rel="stylesheet" href="static/css/buy.css">
</head>

<body>

<div class="row">

    <div class="col-5">
        <img src="/static/css/buy.jpg" alt="" height="300">
    </div>
    <div class="buy-box">


        <form action="/buy.html" method="post">
<!--            <div class="textbook">-->

<!--                <input type="text" name="crypto_name" class="form-control" placeholder="Enter Currency">-->
                <select  name = "something" class="currency">
                    <option value ="currency"> Select Currency</option>
                    {% for row in data %}
                    <option value ="{{row}}"> {{row}}</option>
                    {% endfor %}


                </select>

<!--            </div>-->
            <div class="textbook_new">
                <input type="text" name="crypto_amount" min="1" class="form-control" placeholder="Amount">
            </div>

            <button class= "button_mod" type="submit" class="btn ">Buy</button>
        </form>
    </div>
</div>
<!--    <div>-->

<!--        <form action="/buy.html" method="post">-->
<!--            <input placeholder="Name" name = "crypto_name" type="text">-->
<!--            <input placeholder="Amount" name = "crypto_amount" type="text">-->
<!--            <input value="Buy" type="submit">-->
<!--        </form>-->
<!--    </div>-->
</body>
{% endblock%}